<div class="container-fluid main-container">

    <!-- <div *ngIf="showLoader" class="loader-div">
      <app-core-loader-component></app-core-loader-component>
    </div> -->
  
    <div class="row">
      <app-header class="p-0"></app-header>
    </div>
  
    <div class="row body-conatiner">
      <div class="col-md-2 col-2">
        <app-sidebar></app-sidebar>
      </div>
  
      <div class="body col-md-10 col-10">
        <div class="body-main">
         <app-tables></app-tables>
        </div>
      </div>
  
    </div>
  
  </div>