<div class="sideBarConatiner">
    <ul>
      <li class="activeRoute">
        <a>
          <i class="fa-solid fa-house"></i>
          <span class="nav-link-title">Home</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fa-solid fa-chart-simple"></i>
          <span class="nav-link-title">Dashboard</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fa-solid fa-shirt"></i>
          <span class="nav-link-title">Product</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fa-solid fa-file"></i>
          <span class="nav-link-title">Reports</span>
        </a>
      </li>
    </ul>
</div>
